<div class="panel panel-primary">
  <div class="panel-heading">
    {{title}}
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
      [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
      <agm-info-window>
        <strong>{{m.label}}</strong>
      </agm-info-window>
    </agm-marker>
    <agm-polyline [editable]="true">
      <agm-polyline-point *ngFor="let data of lines" [latitude]="data.lat" [longitude]="data.lng">
      </agm-polyline-point>
    </agm-polyline>
    <agm-circle [latitude]="lat" [longitude]="lng" [radius]="50000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
    </agm-circle>
  </agm-map>
</div>
